@charset "UTF-8";
@font-face {
  font-family: 'GothamBlack';
  src: url("fonts/GothamBlack.eot");
  src: url("fonts/GothamBlack.eot?#iefix") format("embedded-opentype"), url("fonts/GothamBlack.woff") format("woff"), url("fonts/GothamBlack.ttf") format("truetype"), url("fonts/GothamBlack.svg#GothamBlack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamBold';
  src: url("fonts/GothamBold.eot");
  src: url("fonts/GothamBold.eot?#iefix") format("embedded-opentype"), url("fonts/GothamBold.woff") format("woff"), url("fonts/GothamBold.ttf") format("truetype"), url("fonts/GothamBold.svg#GothamBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamBook';
  src: url("fonts/GothamBook.eot");
  src: url("fonts/GothamBook.eot?#iefix") format("embedded-opentype"), url("fonts/GothamBook.woff") format("woff"), url("fonts/GothamBook.ttf") format("truetype"), url("fonts/GothamBook.svg#GothamBook") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamLight';
  src: url("fonts/GothamLight.eot");
  src: url("fonts/GothamLight.eot?#iefix") format("embedded-opentype"), url("fonts/GothamLight.woff") format("woff"), url("fonts/GothamLight.ttf") format("truetype"), url("fonts/GothamLight.svg#GothamLight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamMedium';
  src: url("fonts/GothamMedium.eot");
  src: url("fonts/GothamMedium.eot?#iefix") format("embedded-opentype"), url("fonts/GothamMedium.woff") format("woff"), url("fonts/GothamMedium.ttf") format("truetype"), url("fonts/GothamMedium.svg#GothamMedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'fontello';
  src: url("font/fontello.eot?6165381");
  src: url("font/fontello.eot?6165381#iefix") format("embedded-opentype"), url("font/fontello.woff2?6165381") format("woff2"), url("font/fontello.woff?6165381") format("woff"), url("font/fontello.ttf?6165381") format("truetype"), url("font/fontello.svg?6165381#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?6165381#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-twitter:before {
  content: '\f309'; }

/* '' */
.icon-facebook:before {
  content: '\f30c'; }

/* '' */
.icon-facebook-squared:before {
  content: '\f30e'; }

/* '' */
