//COLOR
$hover : #632a79;
$blanco: #ffffff;
//FONTS

//MIXINS
@mixin ulcero {
	padding: 0;
	margin: 0;
}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//$width-name: max-device-width;
$width-name: max-width;
$tablet: 768px;
$iPhone6P: 414px;
$iPhone6: 375px;
$iPhone5: 320px;

@media screen and ($width-name : $tablet) {

	.container {
		width: 90%;
	}

	.container {
		flex-direction: column;
		.box {
			width: 100% !important;
		}
	}
	
	
}

@media screen and ($width-name : $iPhone6) {
	
}
@media screen and ($width-name : $iPhone5) {

	
}



















