@import 'font';

//MIXIN
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin center {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
// RESET
ul {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

$light: 'GothamLight';
$medium: 'GothamMedium';
$bold:'GothamBold';
$book:'GothamBook';

body {
	background: #070707;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	@include clearfix();
	.box {
		// width: 50%;
		float: left;
		&.left {
			width: 60%;
			img {
				width: 100%;
			}
		}
		&.right {
			text-align: center;
			text-transform: uppercase;
			font-family: $medium;
			width: 40%;
			p {
				font-family: $light;
				font-size: 1.2em;
				line-height: 120%;
			}
			span {
				color: #C1AE79;
				font-family: $bold;
			}
			.form {
				input {
					width: 100%;
					padding: .5em;
					margin: .5em 0;
					box-sizing: border-box;
					color: #070707;
					&.error {
						border: 1px solid red;
					}
					&:focus {
						outline: none;
					}
					&::-webkit-input-placeholder {
						color: #C1AE79;
						text-transform: uppercase;
						font-size: .8em;
					}
					&:-moz-placeholder {
						color: #C1AE79;
						text-transform: uppercase;
						font-size: .8em;
					}
					&::-moz-placeholder {
						color: #C1AE79;
						text-transform: uppercase;
						font-size: .8em;
					}
					&:-ms-input-placeholder {
						color: #C1AE79;
						text-transform: uppercase;
						font-size: .8em;
					}
				}
			}
			.enviar {
				text-align: right;
				padding: 1.5em 0 2em;
				a.btn {
					// display: block;
					border: 1px solid #fff;
					padding: .5em;
					width: 100px;
					text-decoration: none;
					color: #fff;
					font-family: $light;
					transition: all ease .5s;
					&:hover {
						background: #fff;
						color: #070707;
					}
				}
			}
		}
	}
}
































